@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  color: #252525;
  height: 100vh;
  overflow: hidden;
}
main {
  height: 90%;
}
.page {
  height: 98%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: inherit;
  height: 100%;
}
.nav__item-link {
  display: flex;
  gap: 5px;
}
.feed__addPost {
  min-height: 96px;
}
.feedpost__more-block {
  right: -80px;
}
